node_modules/*
.tmp/
npm-debug*
package-lock.json
.DS_Store

test/migrations/generated/migrations/*
!test/migrations/generated/migrations/.gitkeep

test/migrations/generated2/migrations/*
!test/migrations/generated2/migrations/.gitkeep
